.direnv/
.venv/
.envrc
shell.nix
.idea/
.installer_config
simgui-ds.json
simgui-window.json
simgui.json
simgui-ds.json
simgui-window.json
simgui.json
2022_Cletus/.deploy_cfg
2022_Cletus/subsystems/__pycache__/drive.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/extender.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/grabber.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/puller.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/shooter.cpython-310.pyc
2022_Cletus/commands/__pycache__/manualdrive.cpython-310.pyc
2022_Cletus/commands/__pycache__/pull.cpython-310.pyc
2022_Cletus/commands/__pycache__/reach.cpython-310.pyc
2022_Cletus/commands/__pycache__/shoot.cpython-310.pyc
2022_Cletus/__pycache__/constants.cpython-310.pyc
2022_Cletus/__pycache__/robotcontainer.cpython-310.pyc
2022_Cletus/__pycache__/robotcontainer.cpython-310.pyc
2022_Cletus/commands/__pycache__/pull.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/drive.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/extender.cpython-310.pyc
2022_Cletus/subsystems/__pycache__/puller.cpython-310.pyc
